@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Regular.html');
    src: url('../fonts/GeneralSans-Regulard41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
        url('../fonts/GeneralSans-Regular.woff') format('woff'),
        url('../fonts/GeneralSans-Regular.ttf') format('truetype'),
        url('../fonts/GeneralSans-Regular-2.html#GeneralSans-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-MediumItalic.html');
    src: url('../fonts/GeneralSans-MediumItalicd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/GeneralSans-MediumItalic.woff') format('woff'),
        url('../fonts/GeneralSans-MediumItalic.ttf') format('truetype'),
        url('../fonts/GeneralSans-MediumItalic-2.html#GeneralSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-LightItalic.html');
    src: url('../fonts/GeneralSans-LightItalicd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-LightItalic.woff2') format('woff2'),
        url('../fonts/GeneralSans-LightItalic.woff') format('woff'),
        url('../fonts/GeneralSans-LightItalic.ttf') format('truetype'),
        url('../fonts/GeneralSans-LightItalic-2.html#GeneralSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Medium.html');
    src: url('../fonts/GeneralSans-Mediumd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
        url('../fonts/GeneralSans-Medium.woff') format('woff'),
        url('../fonts/GeneralSans-Medium.ttf') format('truetype'),
        url('../fonts/GeneralSans-Medium-2.html#GeneralSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Extralight.html');
    src: url('../fonts/GeneralSans-Extralightd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Extralight.woff2') format('woff2'),
        url('../fonts/GeneralSans-Extralight.woff') format('woff'),
        url('../fonts/GeneralSans-Extralight.ttf') format('truetype'),
        url('../fonts/GeneralSans-Extralight-2.html#GeneralSans-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Semibold.html');
    src: url('../fonts/GeneralSans-Semiboldd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Semibold.woff2') format('woff2'),
        url('../fonts/GeneralSans-Semibold.woff') format('woff'),
        url('../fonts/GeneralSans-Semibold.ttf') format('truetype'),
        url('../fonts/GeneralSans-Semibold-2.html#GeneralSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Light.html');
    src: url('../fonts/GeneralSans-Lightd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Light.woff2') format('woff2'),
        url('../fonts/GeneralSans-Light.woff') format('woff'),
        url('../fonts/GeneralSans-Light.ttf') format('truetype'),
        url('../fonts/GeneralSans-Light-2.html#GeneralSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Bold.html');
    src: url('../fonts/GeneralSans-Boldd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
        url('../fonts/GeneralSans-Bold.woff') format('woff'),
        url('../fonts/GeneralSans-Bold.ttf') format('truetype'),
        url('../fonts/GeneralSans-Bold-2.html#GeneralSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-BoldItalic.html');
    src: url('../fonts/GeneralSans-BoldItalicd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/GeneralSans-BoldItalic.woff') format('woff'),
        url('../fonts/GeneralSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/GeneralSans-BoldItalic-2.html#GeneralSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-ExtralightItalic.html');
    src: url('../fonts/GeneralSans-ExtralightItalicd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/GeneralSans-ExtralightItalic.woff') format('woff'),
        url('../fonts/GeneralSans-ExtralightItalic.ttf') format('truetype'),
        url('../fonts/GeneralSans-ExtralightItalic-2.html#GeneralSans-ExtralightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-SemiboldItalic.html');
    src: url('../fonts/GeneralSans-SemiboldItalicd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'),
        url('../fonts/GeneralSans-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/GeneralSans-SemiboldItalic-2.html#GeneralSans-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Italic.html');
    src: url('../fonts/GeneralSans-Italicd41d.html?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Italic.woff2') format('woff2'),
        url('../fonts/GeneralSans-Italic.woff') format('woff'),
        url('../fonts/GeneralSans-Italic.ttf') format('truetype'),
        url('../fonts/GeneralSans-Italic-2.html#GeneralSans-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

